#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.searchbox-page {
  width: 360px;
  background: white;
  text-align: center;
  border-radius: 25px;
  position: fixed;
  top: 20%;
  left: 35%;
  margin: auto;
  padding: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.TMSLogo {
  width: 100%;
  margin: auto;
  height: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  max-width: 90%;
}

.navimage {
  width: auto;
  height: auto;
}

.navbar-left {
    height: auto;
}

.typesearch {
  left: 90%;
  margin-top: 10px;
}

.searchbar {
  margin: 0px 12px 10px;
  position: center;
<<<<<<< HEAD
  
  
=======

>>>>>>> BeaBranchSprint3.1
}

.searchbuttons {
  margin: 30px;
}


body {
  background-color: lightblue;
}

table, th, td {
  border: 1px solid black;
}

.form {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #beb4b4;
  width: 100%;
  border: 5;
  border-radius: 25px;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}


.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.wrapper {
  margin: 30px 30px 30px;
  width: 55%;
}

.wrapper2 {
  margin: 30px 30px 30px;
}

.goback {
  margin: 30px 30px 30px;
}
