<!DOCTYPE html>




<html>

    <style>
        body {
          font-family: "Lato", sans-serif;
        }

        .sidenav {
          height: 100%;
          width: 160px;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          padding-top: 20px;
        }

        .sidenav a {
          padding: 6px 8px 6px 16px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
        }

        .sidenav a:hover {
          color: #f1f1f1;
        }

        .main {
          margin-left: 160px; /* Same as the width of the sidenav */
          font-size: 28px; /* Increased text to enable scrolling */
          padding: 0px 10px;
        }

        @media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
        }
        </style>





  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="/styles/main.css">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <!--  <a href="main.html" class="navbar-left"><div class ="navimage"><img src="/images/Logofinal.png" style="width:100px; height:40px;"> </div></a>  -->
          <a class="navbar-brand" href="#">Twitter Metrics Service</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link link" href="/logout">Logout</a>
              </li>

            </ul>

            <ul class="navbar-nav navbar-brand">  <%= username %>

            </ul>

          </div>
        </nav>



  </head>
  <body>

    <div class ="searchbox-page">

      <img src="/images/Logofinal.png" class="TMSLogo">
      <div class = "usernames">
        <p>Hello <%= username %>!</p>
      </div>
    <div class ="searchbar">
         <form class="form-inline my-2 my-lg-0" method="GET" action="/api/search" id="searchForm">
      <input list = "places" class="form-control mr-sm-2" type="search" size="30" placeholder="Search" name="searchText" aria-label="Search">
      <datalist id="places">
        <option value="Phoenix, Arizona"><option value="Sacramento, California"><option value="Denver, Colorado"><option value="Tallahassee, Florida">
        <option value="Atlanta, Georgia"><option value="Honolulu, Hawaii"><option value="Indianapolis, Indiana"><option value="Baton Rouge, Louisiana">
        <option value="Boston, Massachusetts"><option value="Jackson, Mississippi"><option value="Raleigh, North Carolina"><option value="Columbus, Ohio">
        <option value="Oklahoma City, Oklahoma"><option value="Harrisburg, Pennsylvania"><option value="Providence, Rhode Island"><option value="Nashville, Tennessee">
        <option value="Austin, Texas"><option value="Salt Lake City, Utah"><option value="Richmond, Virginia"><option value="New York, New York">
        <option value="Miami, Florida"><option value="Chicago, Illinois"><option value="Los Angeles, California"><option value="San Diego, California">
        <option value="San Francisco, California"><option value="Las Vegas, Nevada"><option value="Detroit, Michigan"><option value="Philadelphia, Pennsylvania">
        <option value="Seattle, Washington"><option value="Houston, Texas"><option value="San Antonio, Texas"><option value="Dallas, Texas">
        <option value="San Jose, California"><option value="Jacksonville, Florida"><option value="El Paso, Texas"><option value="Charlotte, North Carolina">
        <option value="Memphis, Tennessee"><option value="Portland, Oregon"><option value="Louisville, Kentucky"><option value="Baltimore, Maryland">
        <option value="Milwaukee, Wisconsin"><option value="Albuquerque, New Mexico"><option value="Tucson, Arizona"><option value="Fresno, California">
        <option value="Mesa, Arizona"><option value="Kansas City, Missouri"><option value="Long Beach, California"><option value="Omaha, Nebraska">
        <option value="Colorado Springs, Colorado"><option value="Virginia Beach, Virginia"><option value="Minneapolis, Minnesota">
        <option value="New Orleans, Louisiana"><option value="Cleveland, Ohio"><option value="Tampa, Florida"><option value="St. Louis, Missouri">
        <option value="Pittsburgh, Pennsylvania"><option value="Cincinnati, Ohio"><option value="Greensboro, North Carolina"><option value="Orlando, Florida">
        <option value="Global Trends">
        <option value="Algiers, Algeria"><option value="Buenos Aires, Argentina"><option value="Brisbane, Australia"><option value="Canberra, Australia">
        <option value="Melbourne, Australia"><option value="Sydney, Australia"><option value="Vienna, Austria"><option value="Minsk, Belarus">
        <option value="Brasilia, Brazil"><option value="Rio de Janeiro, Brazil"><option value="Sao Paolo, Brazil"><option value="Montreal, Canada">
        <option value="Toronto, Canada"><option value="Vancouver, Canada"><option value="Santiago, Chile"><option value="Barranquilla, Colombia">
        <option value="Bogota, Colombia"><option value="Cali, Colombia"><option value="Medellin, Colombia"><option value="Santo Domingo, Dominican Republic">
        <option value="Quito, Ecuador"><option value="Alexandria, Egypt"><option value="Cairo, Egypt"><option value="Marseille, France"><option value="Paris, France">
        <option value="Berlin, Germany"><option value="Bremen, Germany"><option value="Hamburg, Germany"><option value="Munich, Germany">
        <option value="Accra, Ghana"><option value="Athens, Greece"><option value="Thessaloniki, Greece"><option value="Guatemala City, Guatemala">
        <option value="Ahmedabad, India"><option value="Bangalore, India"><option value="Chennai, India"><option value="Hyderabad, India">
        <option value="Jaipur, India"><option value="Mumbai, India"><option value="Pune, India"><option value="Surat, India">
        <option value="Jakarta, Indonesia"><option value="Surabaya, Indonesia"><option value="Dublin, Ireland"><option value="Jerusalem, Israel">
        <option value="Tel Aviv, Israel"><option value="Milan, Italy"><option value="Rome, Italy"><option value="Hiroshima, Japan"><option value="Osaka, Japan">
        <option value="Tokyo, Japan"><option value="Amman, Jordan"><option value="Nairobi, Kenya"><option value="Kuwait City, Kuwait"><option value="Riga, Latvia">
        <option value="Kuala Lumpur, Malaysia"><option value="Guadelajara, Mexico"><option value="Mexico City, Mexico"><option value="Tijuana, Mexico">
        <option value="Amsterdam, Netherlands"><option value="Lagos, Nigeria"><option value="Oslo, Norway"><option value="Karachi, Pakistan">
        <option value="Lahore, Pakistan"><option value="Lima, Peru"><option value="Manila, Phillipines"><option value="Warsaw, Poland"><option value="Moscow, Russia"><option value="St. Petersburg, Russia">
        <option value="Mecca, Saudi Arabia"><option value="Riyadh, Saudi Arabia"><option value="Singapore, Singapore"><option value="Cape Town, South Africa">
        <option value="Johannesburg, South Africa"><option value="Busan, South Korea"><option value="Seoul, South Korea"><option value="Barcelona, Spain">
        <option value="Madrid, Spain"><option value="Valencia, Spain"><option value="Stockholm, Sweden"><option value="Bangkok, Thailand">
        <option value="Ankara, Turkey"><option value="Istanbul, Turkey"><option value="Kiev, Ukraine"><option value="Abu Dhabi, United Arab Emirates">
        <option value="Dubai, United Arab Emirates"><option value="Sharjah, United Arab Emirates"><option value="Glasgow, United Kingdom">
        <option value="London, United Kingdom"><option value="Manchester, United Kingdom"><option value="United States"><option value="Caracas, Venezuela">
        <option value="Ho Chi Minh City, Vietnam">
    </datalist>
    </div>

     <div class ="searchbuttons">
             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Tweets</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/api/trends">Search Trends</button>
    </form>
    <div class ="typesearch">
          <select name="resultType" form="searchForm">
      <option value="popular">Most Popular</option>
      <option value="recent">Most Recent</option>
      <option value="mixed">Mixed</option>
    </select>
    </div>

     </div>


    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="../client/js/app.js"></script>
    <script src="../client/js/factories/listingFactory.js"></script>
    <script src="../client/js/controllers/listingController.js"></script>
  </body>
</html>
